body {
    margin: 0;
    background-color: #ff7488;
    font-family: 'Quicksand', sans-serif;
}

.container {
    min-height: 100vh;
}

.logo-container {    
    margin: auto;  
    height: calc(100vh - 60px);
    width: 920px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: block;
    width: 100%;
    transition: all .3s ease-in-out;
}

.logo:hover { transform: scale(1.05); }

.archive {
   text-align: center;
   color: #0000ff;
   font-size: 0.8rem;
}

a, a:visited {
    color: #0000ff;
}

