body {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

a {
	color: #000;
}

#logo {
	max-width: 30vw;
	margin-top: 50px;
	transition: all .7s ease-in-out;
}

#logo:hover { transform: scale(1.05); }

.moto {
	margin-top: 50px;
}

.moto p {
	line-height: 0.6;
}

.socials {
	display: flex;
	justify-content: center;
}

.socials img {
	height: 30px;
	padding: 10px;
	transition: all .3s ease-in-out;
}

.socials img:hover { transform: scale(1.1); }

.call {
	margin-top: 20px;
}

/*Kunstwald*/

.content-wrapper {
	text-align: left;
	max-width: 700px;
	margin: auto;
}

.content-wrapper img {
	max-width: 100%;
}

.header {
	margin-bottom: 50px;
}

.content-wrapper h1, .summary, .corona, .download {
	text-align: center;
}

.summary {
	font-size: 1.3em;
}

.corona {
	font-size: 1.1em;
	margin-top: 50px;
	margin-bottom: 50px;
}

.corona span {
		background-color: #FFC000;
}

.download a {
	color: #000;
	font-size: 0.9em;
}

.download {
	margin-bottom: 50px;
}

.content-wrapper h2 {
	text-transform: uppercase;
}

.warning {
	color: #FFC000;
}

.footer {
	margin-top: 50px;
}